body,
html {
  background: linear-gradient(rgb(0 0 0), rgb(36, 28, 5));
  height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
header,
section {
  color: white;
}

header {
  background-color: rgba(198, 197, 186, 0.398);
}

input {
  margin: 0 5rem;
  margin-bottom: 1rem;
  padding: 4px;
}
